// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	// .spollers__item
	&__item {
		border-top: toRem(1) solid #ebe8e0;
		padding: toRem(24) toRem(8) toRem(24) 0;
		-webkit-tap-highlight-color: transparent;
	}
	// .spollers__title
	&__title {
		display: flex;
		gap: toRem(32);
		align-items: center;
		justify-content: space-between;
		font-family: $fontFamilyMonaSans;
		font-weight: 600;
		font-size: toRem(20);
		color: var(--black);
		width: 100%;
		text-align: left;
		position: relative;
		list-style: none;

		& svg {
			width: toRem(24);
			flex-shrink: 0;
			height: toRem(24);
			color: var(--satin-gold);
			transition: transform 0.3s ease;
		}
		&._spoller-active {
			svg {
				transform: rotate(180deg);
			}
		}
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		._spoller-init & {
			cursor: pointer;

			// &::before,
			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	right: 0;
			// 	top: toRem(8);
			// 	border-radius: toRem(8);
			// 	height: toRem(2);
			// 	transition: all 0.3s ease 0s;
			// 	width: toRem(10);
			// 	background-color: var(--satin-gold);
			// }
			// &::before {
			// 	transform: rotate(50deg);
			// 	right: toRem(5);
			// }
			// &::after {
			// 	transform: rotate(-50deg);
			// }
		}
		&._spoller-active {
			// &::before {
			// 	transform: rotate(-40deg);
			// }
			// &::after {
			// 	transform: rotate(40deg);
			// }
		}
	}
	// .spollers__body
	&__body {
		padding-top: toRem(16);
	}
}
