.hero {
	position: relative;
	color: var(--white);
	background-color: var(--grey1);
	aspect-ratio: 1920 / 950;
	display: flex;
	align-items: center;

	// .hero__container
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: toRem(16);
		text-align: center;
		z-index: 1;
		position: relative;
		max-width: toRem(757);
		@media (min-width: $mobile) {
			padding-block: toRem(200) toRem(100);
		}
		@media (max-width: $mobile) {
			padding-block: toRem(200) toRem(157);
		}
	}
	// .hero__title
	&__title {
		@include adaptiveValue("font-size", 64, 42);
	}
	// .hero__text
	&__text {
		opacity: 0.9;
		font-weight: 500;
		@media (min-width: $mobile) {
			font-size: toRem(17);
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
		& span {
			font-weight: 700;
		}
	}
	// .hero__button
	&__button {
		margin-top: toRem(16);
	}
	// .hero__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		object-fit: cover;
	}
}

//=====================================================================
.sticky-about {
	// .sticky-about__menu
	&__menu {
	}
	// .sticky-about__section
	&__section {
	}
}
.menu-about {
	backdrop-filter: blur(toRem(8));
	margin-inline: auto;
	background-color: rgba(255, 255, 255, 0.6);
	position: sticky;
	z-index: 10;
	top: toRem(24);
	@media (min-width: toEm(1024)) {
		border-radius: toRem(50);
		max-width: toRem(1023);
		width: fit-content;
		padding: toRem(16);
	}
	// @media (max-width: toEm(1024)) {
	// }

	// .menu-about__list
	&__list {
		display: flex;
		flex-wrap: nowrap;
		gap: toRem(8);
		overflow-x: auto;
		@media (min-width: $mobile) {
			justify-content: center;
		}
		@media (max-width: $mobile) {
			justify-content: start;
		}
		& > * {
			flex-shrink: 0;
		}
		@media (min-width: toEm(1024)) {
			border: toRem(2) solid #f2ead4;
			border-radius: toRem(50);
			padding: toRem(6) toRem(8);
			min-height: toRem(60);
		}
		@media (max-width: toEm(1024)) {
			padding-block: toRem(16);
			// padding-inline: toRem(32);
			min-height: toRem(48);

			padding-inline: toRem(64);
			margin-inline: toRem(-64);
		}
	}
	// .menu-about__item
	&__item {
	}
	// .menu-about__link
	&__link {
		font-family: $fontFamilyMonaSans;
		font-weight: 600;
		font-size: toRem(16);
		text-transform: capitalize;
		color: var(--black);
		cursor: pointer;

		border-radius: toRem(50);
		padding: toRem(10) toRem(16);
		min-height: toRem(48);
		background-color: transparent;

		display: flex;
		align-items: center;
		gap: toRem(8);
		@media (any-hover: hover) {
			transition:
				background-color 0.3s ease,
				color 0.3s ease;

			&:hover {
				color: var(--satin-gold);
			}
		}
		& svg {
			width: toRem(28);
			height: toRem(28);
			flex-shrink: 0;
			color: var(--satin-gold);
			transition: color 0.3s ease;
		}
		&.active {
			background-color: var(--flax);
			pointer-events: none;
			& svg {
				color: var(--white);
			}
		}
	}
}
.menu-about + .section-about {
	padding-top: toRem(40);
}

.section-about {
	@media (min-width: $tablet) {
		padding-block: toRem(200);
	}
	@media (max-width: $tablet) {
		padding-block: toRem(120);
	}

	// .section-about__header,
	// .section-about__slider {
	// 	transition: opacity 3s ease-out;

	// 	.section-animate & {
	// 		opacity: 1;
	// 	}
	// }

	// .section-about__body
	&__body {
		position: relative;
		gap: toRem(32) toRem(78);
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: toRem(294) 1fr;
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}
	// .section-about__bg
	&__bg {
		position: absolute;
		width: toRem(2262);
		max-width: none;
		height: auto;
		// height: toRem(414);
		top: 0;
		left: 50%;
		z-index: -1;
		transform: translateX(-50%);
	}
	// .section-about__header
	&__header {
		& > :not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .section-about__title
	&__title {
	}
	// .section-about__description
	&__description {
		@media (min-width: $mobile) {
			font-size: toRem(17);
		}
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
	}

	// .section-about__slider
	&__slider {
	}
	// .section-about__wrapper
	&__wrapper {
		@media (min-width: $mobileMd) {
			display: grid !important;
			grid-template-columns: repeat(2, 1fr) !important;
			gap: toRem(8);
			// section-about__wrapper--accent
			&--accent {
				& > :nth-child(3n) {
					grid-column: span 2 !important;

					.article-about__text,
					.article-about__title {
						max-width: toRem(520) !important;
					}
				}
			}
		}
		// @media (max-width: $mobileMd) {
		// 	align-items: stretch !important;
		// }
	}
	// .section-about__slide
	&__slide {
		// display: flex;
		// align-items: center;
		// align-self: stretch !important;
		// height: 100%;
	}
	// .section-about__navigation
	&__navigation {
		@media (max-width: $mobileMd) {
			padding-top: toRem(32);
			& .navigation__scrollbar {
				background-color: var(--grey4);
				& .swiper-scrollbar-drag {
					background-color: var(--satin-gold);
				}
			}
		}
	}
}
.article-about {
	position: relative;
	border-radius: toRem(12);
	// display: flex;
	// flex-direction: column;
	overflow: hidden;

	// border: toRem(3) solid transparent;
	// height: 100%;
	// align-self: stretch !important;
	height: 100%;
	transition: box-shadow 0.5s ease;
	@media (min-width: $mobileSmall) {
		padding: toRem(32) toRem(72) toRem(56) toRem(32);
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(32) toRem(32) toRem(96);

		// min-height: toRem(288);
	}

	@media (any-hover: hover) {
		&:hover {
			// border-color: var(--flax);
			box-shadow: inset 0 0 0 toRem(3) var(--flax);
		}
	}
	&:not(:has(> .article-about__bg)) {
		background-color: var(--card-bg2);
	}
	& > :not(:last-child) {
		margin-bottom: toRem(8);
	}
	// .article-about__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		z-index: -1;
		object-fit: cover;
	}
	&__title,
	&__text {
		max-width: toRem(318);
	}
	// .article-about__title
	&__title {
		flex: 1 1 auto;
	}
	// .article-about__text
	&__text {
		flex: 1 1 auto;
		span {
			font-weight: 700;
		}
	}
}

//=====================================================================

.services-preview {
	@include adaptiveValue("padding-top", 125, 80);
	@include adaptiveValue("padding-bottom", 160, 80);

	// .services-preview--grid
	&--grid {
	}
	// .services-preview__container
	&__container {
		position: relative;
	}

	&__grid {
		position: relative;
		display: grid;
		gap: toRem(16);
		grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
	}
	// .se
	// .services-preview__header
	&__header {
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}
	// .services-preview__title
	// &__title {
	// }
	// .services-preview__button
	&__button {
		@media (max-width: $mobileSmall) {
			margin-top: toRem(32);
		}
	}
	// .services-preview__slider
	&__slider {
		position: relative;
	}
	// .services-preview__wrapper
	// &__wrapper {
	// }
	// .services-preview__slide
	// &__slide {
	// }
	// .services-preview__navigation
	&__navigation {
		@media (min-width: $mobileSmall) {
			margin-top: toRem(24);
		}
		@media (max-width: $mobileSmall) {
			margin-top: toRem(32);
		}
	}
}

//=====================================================================

.last-cases {
	padding-block: toRem(280) toRem(100);
	@media (max-width: $mobile) {
		padding-top: toRem(240);
	}
	// .last-cases__container
	&__container {
		& > :not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	// .last-cases__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
	}
	// .last-cases__title
	&__title {
		span {
		}
	}
	// .last-cases__button
	&__button {
		color: var(--black);
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .last-cases__slider-box
	&__slider-box {
	}
	// .last-cases__slider
	&__slider {
		& > :not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	// .last-cases__wrapper
	&__wrapper {
		@media (max-width: $mobileMd) {
			display: grid !important;
			gap: toRem(40);
		}
	}
	// .last-cases__slide
	&__slide {
	}
	// .last-cases__navigation
	&__navigation {
		// &:not(:has(.swiper-button-lock)) {
		// 	margin-top: toRem(32);
		// }
		@media (max-width: $mobileMd) {
			display: none;
		}
	}
}

.slide-cases {
	@media (any-hover: hover) {
		&:hover {
			// .slide-cases__image {
			// 	border: toRem(4) solid var(--satin-gold);
			// }
			.slide-cases__image-link::before {
				opacity: 1;
			}
			.slide-cases__title {
				color: var(--satin-gold);
			}
		}
	}
	// .slide-cases__image-link
	&__image-link {
		border-radius: toRem(12);
		overflow: hidden;
		display: block;
		position: relative;
		width: 100%;
		@media (min-width: $mobileSmall) {
			height: toRem(220);
		}
		@media (max-width: $mobileSmall) {
			height: toRem(184);
		}
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			border-radius: toRem(12);
			box-shadow: inset 0 0 0 toRem(4) var(--satin-gold);
			opacity: 0;
			z-index: 2;
			transition: opacity 0.5s ease;
		}
	}
	// .slide-cases__image
	&__image {
		// border: 0 solid transparent;
		// will-change: auto;
		// transition: border 0.3s ease;

		background-color: lightgray;
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
	}
	// .slide-cases__row
	&__row {
		display: flex;
		gap: toRem(8) toRem(20);
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
		@media (min-width: $mobileSmall) {
			align-items: center;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	// .slide-cases__category
	&__category {
	}
	// .slide-cases__about
	&__about {
		@media (min-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(2);
			}
		}
		@media (max-width: $mobileSmall) {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
			align-items: center;
		}
	}
	// .slide-cases__date
	&__date {
		text-align: right;
		font-size: toRem(14);
		color: var(--grey1);
	}
	// .slide-cases__author
	&__author {
		display: flex;
		align-items: center;
		gap: toRem(12);
	}
	// .slide-cases__avatar
	&__avatar {
		flex-shrink: 0;
		width: toRem(28);
		height: toRem(28);
		object-fit: cover;
		border-radius: 50%;
		overflow: hidden;
	}
	// .slide-cases__name
	&__name {
		font-weight: 700;
		font-size: toRem(14);
	}
	// .slide-cases__title
	&__title {
		font-size: toRem(26);
		font-weight: 600;
		transition: color 0.5s ease;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}
	// .slide-cases__text
	&__text {
		font-size: toRem(16);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		align-self: stretch;
	}
}

//=====================================================================
.cta {
	padding-block: toRem(100);
	@media (min-width: $mobile) {
		padding-inline: toRem(32);
	}
	@media (max-width: $mobile) {
		padding-inline: toRem(16);
	}
	// .cta__container
	&__container {
		border-radius: toRem(12);
		overflow: hidden;
		position: relative;
		background: linear-gradient(184deg, #f8e4af 0%, #e0c57c 100%);
		@media (min-width: $mobileSmall) {
			padding: toRem(80) toRem(60);
		}
		@media (min-width: $tablet) {
			padding: toRem(120) toRem(144);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(40) toRem(32) toRem(180);
		}
	}
	// .cta__bg
	&__bg {
		position: absolute;
		bottom: 0;
		right: 0;
		object-fit: cover;
		object-position: bottom left;
		@media (min-width: $mobileSmall) {
			height: 100%;
			width: 40%;
		}
		@media (max-width: $mobileSmall) {
			width: 65%;
			height: 40%;
		}
	}
	// .cta__content
	&__content {
		position: relative;
		z-index: 1;
		@media (min-width: $mobileMd) {
			max-width: 75%;
		}
		@media (min-width: $tablet) {
			max-width: 65%;
		}
	}

	// .cta__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .cta__text
	&__text {
		@media (min-width: $mobileSmall) {
			font-size: toRem(17);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(16);
		}
		&:not(:last-child) {
			margin-bottom: toRem(32);
		}
	}
	// .cta__actions
	&__actions {
		display: flex;
		gap: toRem(14);
		@media (max-width: $mobileMd) {
			flex-direction: column;
		}
	}
	// .cta__button
	&__button {
	}
}
